body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 118, 228);
    color: rgb(229, 255, 0);
    margin: 0%;
    padding: 0%;
    text-align: center;
}

header h1{
    font-size: 2,2;
    margin: 0%;
    color: darkgoldenrod;
}
